{% extends "base.html" %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h1>Projector</h1>

      <p>Estimating how much time a project will take has never been easy.  Projector
      is designed to make it easy to create the most accurate estimates possible.</p>

      <h2>Features:</h2>
      <ul>
        <li>Mitigate <i>anchoring bias</i></li>
        <li>Includes uncertainty in the estimate</li>
        <li>collect and combine estimates from many people</li>
        <li>automatically include estimates from similar tasks on past projects</li>
        <li>Utilize <i>reference class forecasting</i> to mitigate optimism bias</li>
      </ul>
    </div>
  </div>
</div>
{% endblock content %}
