{% extends "base.html" %}
{% load static %}{% load i18n %}
{% load avatar_tags %}

{% block title %}Your Projects{% endblock %}

{% block content %}

<div class="container">

  <div class="row">
    <div class="col-xs-12">
      <h2>Your Projects</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12">
      <div class="list-group">
          {% for project in project_list %}
            <a href="{% url 'main:project_detail' project.pk %}" class="list-group-item">
              <h4 class="list-group-item-heading">{{ project.name }}</h4>
              <p class="list-group-item-text">{{ project.smart_blurb }}</p>
            </a>
          {% endfor %}
      </div>
    </div>
  </div>

</div>

{% endblock content %}
